
<div class="container mt-5">
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header text-center bg-dark" style="color: #f6f8fa;">
            <h5><b>Sign Out</b></h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center vh-50">
                <form class="w-100" id="signOutForm">
                    <!-- Texto de confirmación -->
                    <p class="text-center">To sign out, please click the bottom below</p>
                    
                    <!-- Botón de confirmación -->
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-dark" style="border: solid black;" id="signOutButton"><b>Sign Out</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>