<div class="container mt-5">
      <div class="card mx-auto mb-3 border-dark" style="max-width: 500px;">
        <div class="card-header d-flex text-center bg-dark" style="color: #f6f8fa;">
          <i class="bi bi-trophy" style="font-size: 25px;"></i>
          <h5 class="mb-0 mx-auto" style="margin-top: 5px;"><b>Tournament</b></h5>
          <i class="bi bi-trophy" style="font-size: 25px;"></i>
        </div>
        <div class="card-body">
          <!-- Create Tournament Section -->
          <div class="mb-3">
            <div class="text-center">
                <h6 style="font-size: large;"><b>Create Tournament</b></h6>
            </div>
            <form>
              <div class="mb-3">
                <label for="numPlayers" class="form-label">Number of Players</label>
                <input type="number" class="form-control" id="numPlayers" placeholder="Value">
              </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-dark w-50">Create</button>
                </div>
            </form>
          </div>
  
          <!-- Join Tournament Section -->
          <div class="mb-2">
            <div class="text-center">
                <h6 style="font-size: large;"><b>Join Tournament</b></h6>
            </div>
            <form>
              <div class="mb-3">
                <label for="tournamentId" class="form-label">Tournament ID</label>
                <input type="text" class="form-control" id="tournamentId" placeholder="Value">
              </div>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-dark w-50">Join</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>