<div class="container mt-4">
    <div class="card mx-auto mb-3 border-dark" style="max-width: 500px;">

        <!-- Tournament Header -->
        <div class="mb-2">
            <div class="card-header d-flex text-center bg-dark" style="color: #f6f8fa;">
                <i class="bi bi-trophy" style="font-size: 25px;"></i>
                <h5 class="mb-0 mx-auto" style="margin-top: 5px;"><b>Current Tournament</b></h5>
                <i class="bi bi-trophy" style="font-size: 25px;"></i>
            </div>
            <div style="display:flex; justify-content: center;">
                <p class="mb-1"><b>Tournament ID: 8HDS3G</b></p>
            </div>
            <div style="display:flex; justify-content: center;">
                <p class="mb-1"><b>Players: 5/10</b></p>
            </div>
        </div>

        <!-- Players List -->
        <div style="width: 80%; margin: auto;">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex align-items-center">
                    <i class="fas fa-user mr-3"></i> Username 1
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <i class="fas fa-user mr-3"></i> Username 2
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <i class="fas fa-user mr-3"></i> Username 3
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <i class="fas fa-user mr-3"></i> Username 4
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <i class="fas fa-user mr-3"></i> Username 5
                </li>
            </ul>
        </div>

        <!-- Exit Button -->
        <div class="d-flex mb-2 justify-content-center">
            <button class="btn btn-dark btn-block" style="width: 250px; height: 40px;"><b>Exit Tournament</b></button>
        </div>
    </div>
</div>